@using ElGroupo.Web.Models.Records
@model IEnumerable<ViewItemTypeModel>

@{
    Layout = null;
}

<div style="text-align:center;">
    <table style="margin:0 auto; text-align:center;">
        <thead>
            <tr>
                <th>Item Description</th>
                <th style="margin-left:25px;">Category</th>
                <th style="margin-left:25px;">Sub Category</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><a asp-controller="Records" asp-action="EditItemType" asp-route-itemTypeId="@item.Id">@item.Name</a></td>
                    <td>@item.CategoryName</td>
                    <td>@item.SubCategoryName</td>
                    <td style="margin-left:20px;"><a style="margin-left:20px;" data-remove-item-type data-item-type-id="@item.Id">Remove</a></td>
                </tr>

            }
        </tbody>
    </table>
</div>