@using ElGroupo.Web.Models.Records
@model ViewCategoryModel
<section style="text-align:center">
    <input type="hidden" asp-for="@Model.Id" />
    <a asp-controller="Records" asp-action="Categories">Return to Categories</a>
    <h3>Edit Category</h3>
    <h4>@Model.Name</h4>

    <div class="row" style="width:50%;">
        <div class="col span-1-of-4">Description Header</div>
        <div class="col span-2-of-4 view-description-column" id="divDescriptionColumn">@Model.DescriptionColumnHeader</div>
        <div class="col span-2-of-4 edit-description-column" style="display:none;"><input value="@Model.DescriptionColumnHeader" id="txtDescriptionColumn" type="text" style="width:100%;" /></div>
        <div class="col span-1-of-4 view-description-column"><a>Edit</a></div>
        <div class="col span-1-of-4 edit-description-column" style="display:none;"><a class="cancel-description-column">Cancel</a><a class="save-description-column">Save</a></div>
    </div>
    <div class="row" style="width:50%;">
        <div class="col span-1-of-4">Value Header</div>
        <div class="col span-2-of-4 view-value-column" id="divValueColumn">@Model.ValueColumnHeader</div>
        <div class="col span-2-of-4 edit-value-column" style="display:none;"><input value="@Model.ValueColumnHeader" id="txtValueColumn" type="text" style="width:100%;" /></div>
        <div class="col span-1-of-4 view-value-column"><a>Edit</a></div>
        <div class="col span-1-of-4 edit-value-column" style="display:none;"><a class="cancel-value-column">Cancel</a><a class="save-value-column">Save</a></div>
    </div>

    <div style="margin:45px;">
        <h3>Default Questions</h3>
        <div id="element-list">
            @Html.Partial("_ElementList", Model.DefaultElements)
        </div>
    </div>

    <div style="margin:45px;">
        <button class="btn btn-primary add-element-btn">Add New Default Question</button>
        <div class="add-element" style="display:none;">
            <div style="width:100%;">
                <label for="selElement">Element:</label>
                <select id="selElement" style="width:300px;">
                    @foreach (var item in Model.AllElements)
                    {
                        <option value="@item.Id">@item.Name</option>

                    }
                </select>
            </div>
            <div style="width:100%">
                <label for="chkIsPrimary">Primary Display?</label>
                <input type="checkbox" id="chkPrimaryDisplay" />
            </div>

            <button class="cancel-add-element">Cancel</button>
            <button class="confirm-add-element">Add</button>
        </div>
    </div>


    <div style="margin:45px;">
        <h3>Sub Categories</h3>
        <div id="sub-category-list">
            @Html.Partial("_SubCategoryList", Model.SubCategories)
        </div>
    </div>

    <div style="margin:45px;">
        <button class="btn btn-primary add-subcategory-btn">Add New Sub Category</button>
        <div class="add-subcategory" style="display:none;">
            <label for="txtAddSubCategory">Sub Category Name:</label>
            <input type="text" id="txtAddSubCategory" style="width:300px;" />
            <button class="cancel-add-subcategory">Cancel</button>
            <button class="confirm-add-subcategory">Add</button>
        </div>
    </div>


    @*<div style="margin:45px;">
            <h3>Items</h3>
            <div id="item-list">
                @Html.Partial("_ItemList", Model.RecordItems)
            </div>
        </div>


        <div style="margin:45px;">
            <button class="btn btn-primary add-item-btn">Add New Item</button>
            <div class="add-item" style="display:none;">
                <label for="txtAddItem">Item Name:</label>
                <input type="text" id="txtAddItem" style="width:300px;" />
                <button class="cancel-add-item">Cancel</button>
                <button class="confirm-add-item">Add</button>
            </div>

        </div>*@


</section>

@section Scripts{
    <script type="text/javascript" src="~/content/scripts/records/records-admin.js"></script>
    <script type="text/javascript" src="~/content/scripts/records/category.js"></script>

}