@using ElGroupo.Web.Models.Records
@model EditElementsModel

<section style="text-align:center">
    <a asp-controller="Records" asp-action="Admin">Return to Admin</a>
    <h3>Data Elements</h3>
    <div id="element-list">
        @Html.Partial("_EditElementList", Model.Elements)
    </div>



    <button class="btn btn-primary add-element-btn">Add New Element</button>
    <div class="add-element" style="display:none; text-align:center; margin-top:50px;">
        <h3>Add New Question</h3>
        <table style="width:50%; margin-left:25%">
            <tr>
                <td><label for="txtAddElement">Name:</label></td>
                <td><input type="text" id="txtAddElement" style="width:200px;" /></td>
            </tr>
            <tr>
                <td> <label for="txtAddDisplayName">Display Name:</label></td>
                <td>  <input type="text" id="txtAddDisplayName" style="width:200px;" /></td>
            </tr>
            <tr>
                <td>  <label for="selAddDataType">Data Type:</label></td>
                <td>
                    <select id="selAddDataType" style="width:200px;">
                        <option selected value=""></option>
                        @foreach (var item in Model.DataTypes)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="selAddInputType">Input Type:</label></td>
                <td><select id="selAddInputType" style="width:200px;"></select></td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" id="chkAddLookupTable" />
                    <label for="selAddLookupTables">Lookup Table:</label>
                </td>
                <td>
                    <select disabled id="selAddLookupTables" style="width:200px;">
                        <option selected value=""></option>
                        @foreach (var item in Model.LookupTables)
                        {
                            <option value="@item.Id">@item.Description</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td> <label for="chkSameLine">Label on Same Line?</label></td>
                <td> <input type="checkbox" id="chkSameLine" /></td>
            </tr>


        </table>



        <button class="cancel-add-element btn-ghost">Cancel</button>
        <button class="confirm-add-element btn-primary">Add</button>
    </div>
</section>

@section Scripts{
    <script type="text/javascript" src="~/content/scripts/records/records-admin.js"></script>
    <script type="text/javascript" src="~/content/scripts/records/edit-elements.js"></script>

}