@using ElGroupo.Web.Models.Activities
@model LogAttendenceModel

@functions{
    public string GenerateId(string prefix, object val)
    {
        return prefix + val.ToString();

    }


    public bool HasCreditType(List<long> selectedCategories, List<CreditCategoryModel> allCategories, long creditTypeId)
    {
        var allowedCategories = allCategories.Where(x => x.CreditTypeId == creditTypeId).Select(x => x.Id).ToList();
        if (selectedCategories.Intersect(allowedCategories).Count() > 0) return true;
        else return false;

    }

}

<section class="create-activity-group" style="padding:20px;">
    <div class="row">
        <h4>@Model.ActivityGroupName</h4>
        <input type="hidden" asp-for="ActivityId" />
        <input type="hidden" asp-for="ActivityGroupId" />
        <div class="row centered" style="font-size:0.7em;">@Model.ActivityDescription</div>
    </div>
    <div class="divider"></div>


    @*<div class="row">
            <label style="margin-left:25%;">Activity Description</label>
            <div class="row" style="width:50%;">
                @Model.ActivityDescription
            </div>

        </div>*@
    <div class="row">
        <label style="margin-left:25%;">Activity Location</label>
        <div class="row" style="width:50%;">
            @Model.ActivityLocation
        </div>

    </div>
    @if (Model.ActivityTimeText != null)
    {
        <div class="row">
            <label style="margin-left:25%;">Activity Date</label>
            <div class="row" style="width:50%;">
                @Model.ActivityTimeText
            </div>

        </div>

    }
    <div class="divider"></div>
    @if (Model.PublicNotes != null)
    {
        <div class="row">
            <label style="margin-left:25%;">Notes</label>
            <div class="row" style="width:50%;">
                @Model.PublicNotes
            </div>

        </div>

    }
    <div class="divider"></div>
    <div class="row" id="divCreditTypes" style="margin-top:25px;">
        <label style="margin-left:25%;">Permitted Credit Types</label>
        <div style="display:table; margin-left:25%; margin-right:25%; width:50%; border-collapse:collapse">
            @for (var groupCount = 0; groupCount < Model.AllowedCredits.Count; groupCount += 3)
            {
                <div style="display: table-row; word-wrap:break-word; vertical-align:middle; margin-bottom:10px;">
                    @foreach (var creditCategory in Model.AllowedCredits.Skip(groupCount).Take(3))
                    {
                        <div style="display: table-cell; width:30%; vertical-align:middle;">
                            <div class="width-100 centered">
                                <input type="text" style="text-align:center;font-family: 'Raleway'; margin-top:31px; width:40%; background-color:transparent; font-size:38px; border:none;" value="@creditCategory.Hours" data-credit-category-id="@creditCategory.CreditTypeCategoryId" />
                            </div>
                        </div>
                    }
                </div>
                <div style="display: table-row; word-wrap:break-word; vertical-align:middle; margin-bottom:10px;">
                    @foreach (var creditCategory in Model.AllowedCredits.Skip(groupCount).Take(3))
                    {


                        <div style="display: table-cell; width:30%; vertical-align:middle;">
                            <div class="centered" style="margin-top:10px; text-transform:none; margin-left:20%; margin-right:20%;">@creditCategory.CreditTypeName &nbsp; @creditCategory.CreditTypeCategoryName</div>
                        </div>
                    }
                </div>

            }
        </div>
    </div>

    <div class="row" id="divAttendenceType">
        <label style="margin-left:25%;">Presenting?</label>
        <div class="row centered" id="divAttendenceType">
            <input type="radio" name="group" checked id="rbPresentingNo" />
            <label style="cursor:pointer;margin-left:10px; font-size:14px;" for="rbPresentingNo">No</label>
            <input type="radio" name="group" style="margin-left:40px;" id="rbPresentingYes" />
            <label style="cursor:pointer;margin-left:10px; font-size:14px;" for="rbPresentingYes">Yes</label>

        </div>
    </div>

    <div class="row" id="divPresentationName" style="display:none;">
        <label style="margin-left:25%">Presentation Name</label>
        <div class="width-100 centered">
            <input type="text" style="width:50%;" id="txtPresentationName" />
        </div>

    </div>
    <div class="divider"></div>
    <div class="row">
        <label style="margin-left:25%;" for="txtDescription">My Notes</label>
        <div class="width-100 centered">
            <textarea style="width:50%; height:100px;" id="txtMyNotes"></textarea>
        </div>

    </div>

    @if (Model.Documents.Any())
    {
        <div class="row centered" style="width:50%;">
            <label>Group Documents</label>

            <div style="display: table; margin-left:5%; margin-right:5%; width:90%; border-collapse:collapse;">
                <header style="display: table-row;border:1px solid white;">
                    <div style="display: table-cell; width:30%;">File Name</div>
                    <div style="display: table-cell; width:50%;">Description</div>
                    <div style="display: table-cell; width:20%;"></div>
                </header>
                @foreach (var doc in Model.Documents)
                {
                    <div data-document-id="@doc.Id" style="display: table-row; word-wrap:break-word; vertical-align:middle; border-bottom:1px solid white; border-left:1px solid white;border-right:1px solid white;">
                        <div style="display: table-cell; vertical-align:middle;">@doc.FileName</div>
                        <div style="display: table-cell; vertical-align:middle;">@doc.Description</div>
                        <div style="display: table-cell; vertical-align:middle;"><a target="_blank" asp-controller="Activities" asp-action="GetActivityDocument" asp-route-documentId="@doc.Id">View</a></div>

                    </div>

                }
            </div>
        </div>


    }

    <div class="row">
        <label style="margin-left:25%;">Group Documents</label>



        <div id="divGroupDocumentTable" style="display:none;" class="row centered">
            <div id="divGroupTable" style="display: table; margin-left:5%; margin-right:5%; width:90%; border-collapse:collapse;">
                <header style="display: table-row;">
                    <div style="display: table-cell; width:30%; border:1px solid white;">File Name</div>
                    <div style="display: table-cell; width:60%; border:1px solid white;">Description</div>
                </header>
            </div>
        </div>
    </div>
    <div class="row">
        <label style="margin-left:25%;">My Documents</label>
        <div style="display:none;" id="divRowTemplate">
            <div style="display: table-row; word-wrap:break-word; vertical-align:middle; border-bottom:1px solid white; border-left:1px solid white; border-right:1px solid white;">
                <div style="display: table-cell; vertical-align:middle;"></div>
                <div style="display: table-cell; vertical-align:middle;"><input placeholder="Enter a File Description..." style="width:100%;" type="text" /></div>
                <div style="display: table-cell; vertical-align:middle;"><img style="height:40px; width:40px; cursor:pointer;" src="~/content/images/delete.png" /></div>
            </div>
        </div>


        <div id="divDocumentTable" style="display:none;" class="row centered">
            <div id="divTable" style="display: table; margin-left:5%; margin-right:5%; width:90%; border-collapse:collapse;">
                <header style="display: table-row;">
                    <div style="display: table-cell; width:30%; border:1px solid white;">File Name</div>
                    <div style="display: table-cell; width:60%; border:1px solid white;">Description</div>
                    <div style="display: table-cell; width:10%; border:1px solid white;"></div>
                </header>
            </div>
        </div>
        <div class="row centered" style="width:75%; margin-top:25px;">
            @*//style="margin: 0 auto;"*@
            <input style="display:none;" type="file" multiple id="iptFile" />
            <button id="btnAddDocuments" class="btn btn-ghost">Add Document(s)</button>
        </div>
    </div>

    <div class="row centered">

        <button id="btnCreate" class="btn btn-primary">Add to Attendence Log</button>

    </div>
    <div class="row centered" style="margin-top:0px;">
        <div class="col" style="text-align:center; font-size:0.7em; width:100%;">
            <a asp-controller="Activities" asp-action="Group" asp-route-activityGroupId="@Model.ActivityGroupId">Cancel</a>
        </div>
    </div>
</section>
@section Scripts{
    <script type="text/javascript" src="~/content/scripts/activities/add-attendence-log.js"></script>

}