@using ElGroupo.Web.Models.Activities
@model CreateActivityModel

@functions{
    public string GenerateId(string prefix, object val)
    {
        return prefix + val.ToString();

    }


}

<section class="create-activity-group" style="background-color:#2d2d2d; color:white; text-transform:uppercase; text-align:center; padding:20px;">
    <h2>@Model.ActivityGroupName</h2>
    <input type="hidden" asp-for="ActivityGroupId" />
    <div class="row">
        <label>Create New Activity</label>


    </div>
    <div class="row">
        <label for="txtDescription">Activity Description</label>
        <div class="width-100">
            <input style="width:75%;" type="text" id="txtDescription" />
        </div>

    </div>
    <div class="row">
        <label for="txtDescription">Activity Location</label>
        <div class="width-100">
            <input style="width:75%;" type="text" id="txtLocation" />
        </div>

    </div>
    <div class="row">
        <label>Start Time</label>
        <div class="row centered" style="width:75%;">

            <div class="col span-3-of-6">
                <input asp-for="StartTime" type="text" class="width-100" placeholder="Enter Event Start Date...">
            </div>
            <div class="col span-1-of-6">
                <select id="selStartHour">
                    <option value="12" selected>12</option>
                    @for (int hour = 1; hour <= 11; hour++)
                    {
                        <option value="@hour">@hour.ToString()</option>
                    }
                </select>
            </div>
            <div class="col span-1-of-6">
                <select id="selStartMin">
                    @for (var min = 0; min < 60; min++)
                    {
                        @if (min < 10)
                        {
                            <option value="@min">@("0" + min.ToString())</option>

                        }
                        else
                        {
                            <option value="@min">@min.ToString()</option>
                        }

                    }
                </select>
            </div>
            <div class="col span-1-of-6">
                <select id="selStartAMPM">
                    <option value="AM">AM</option>
                    <option value="PM">PM</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <label>End Time</label>
        <div class="row centered" style="width:75%;">

            <div class="col span-3-of-6">
                <input asp-for="EndTime" type="text" class="width-100" placeholder="Enter Event Start Date...">
            </div>
            <div class="col span-1-of-6">
                <select id="selEndHour">
                    <option value="12" selected>12</option>
                    @for (int hour = 1; hour <= 11; hour++)
                    {
                        <option value="@hour">@hour.ToString()</option>
                    }
                </select>
            </div>
            <div class="col span-1-of-6">
                <select id="selEndMin">
                    @for (var min = 0; min < 60; min++)
                    {
                        @if (min < 10)
                        {
                            <option value="@min">@("0" + min.ToString())</option>

                        }
                        else
                        {
                            <option value="@min">@min.ToString()</option>
                        }

                    }
                </select>
            </div>
            <div class="col span-1-of-6">
                <select id="selEndAMPM">
                    <option value="AM">AM</option>
                    <option value="PM">PM</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row" id="divCreditTypes" style="margin-top:25px;">
        <label>Credit Types</label>
        @foreach (var creditType in Model.CreditTypes)
        {
            <div class="width-100">
                <input type="checkbox" id="@GenerateId("rbCreditType", creditType.Id)" data-credit-type-id="@creditType.Id" />
                <label style="cursor:pointer;margin-left:20px;" for="@GenerateId("rbCreditType", creditType.Id)">@creditType.Description</label>
            </div>
        }
    </div>
    <div class="row" id="divCreditCategories" style="display:none;">
        <label>Credit Categories</label>
        @foreach (var creditCategory in Model.CreditCategories)
        {
            <div style="display:none; width:75%;" class="row line-after" data-credit-type-id="@creditCategory.CreditTypeId" data-credit-category-id="@creditCategory.Id">
                <div class="col span-1-of-8"><input type="checkbox" id="@GenerateId("rbCreditCategory", creditCategory.Id)" /></div>
                <div class="col span-5-of-8" style="text-align:left;"><label style="cursor:pointer;" for="@GenerateId("rbCreditCategory", creditCategory.Id)">@creditCategory.Description</label></div>
                <div class="col span-1-of-8"><input type="number" style="width:50px;" min="0" max="24" value="0" /></div>
                <div class="col span-1-of-8" style="text-align:left;"><span>Hours</span></div>




            </div>

        }
    </div>
    <div class="row" id="divAttendenceType">
        <label>Attendence Type</label>
        @for (var x = 0; x < Model.AttendenceTypes.Count; x++)
        {
            <div class="width-100">
                @if (x == 0)
                {

                    <input type="radio" name="group" checked id="@GenerateId("rbAttType", Model.AttendenceTypes[x].Id)" data-attendence-type-id="@Model.AttendenceTypes[x].Id" />
                }
                else
                {
                    <input type="radio" name="group" id="@GenerateId("rbAttType", Model.AttendenceTypes[x].Id)" data-attendence-type-id="@Model.AttendenceTypes[x].Id" />

                }

                <label style="cursor:pointer;margin-left:20px;" for="@GenerateId("rbAttType", Model.AttendenceTypes[x].Id)">@Model.AttendenceTypes[x].Description</label>
            </div>

        }


    </div>



    <div class="row">
        <label>Documentation</label>
        <div style="display:none;" id="divRowTemplate">
            <div style="display: table-row; word-wrap:break-word; vertical-align:middle; border-bottom:1px solid white; border-left:1px solid white; border-right:1px solid white;">
                <div style="display: table-cell; vertical-align:middle;"></div>
                <div style="display: table-cell; vertical-align:middle;"><input placeholder="Enter a File Description..." style="width:100%;" type="text" /></div>
                <div style="display: table-cell; vertical-align:middle;"><img style="height:40px; width:40px; cursor:pointer;" src="~/content/images/delete.png" /></div>
            </div>
        </div>


        <div id="divDocumentTable" style="display:none;" class="row centered">
            <div id="divTable" style="display: table; margin-left:5%; margin-right:5%; width:90%; border-collapse:collapse;">
                <header style="display: table-row;">
                    <div style="display: table-cell; width:30%; border:1px solid white;">File Name</div>
                    <div style="display: table-cell; width:60%; border:1px solid white;">Description</div>
                    <div style="display: table-cell; width:10%; border:1px solid white;"></div>
                </header>
            </div>
        </div>
        <div class="row" style="width:75%; margin-top:25px;">
            <input style="margin: 0 auto;" type="file" multiple id="iptFile" />
        </div>
    </div>

    <div class="row">
        <a class="btn btn-primary" asp-controller="Activities" asp-action="Group" asp-route-activityGroupId="@Model.ActivityGroupId">Cancel</a>
        <button id="btnCreate" class="btn btn-primary">Create Activity</button>
    </div>
</section>
@section Scripts{
    <script type="text/javascript" src="~/content/scripts/activities/create-activity.js"></script>

}