@using ElGroupo.Web.Models.Activities
@model CreateActivityGroupModel

@functions{
    public string GenerateId(string prefix, object val)
    {
        return prefix + val.ToString();

    }


}
@*style="text-transform:uppercase; text-align:center; padding:20px;"*@
<section class="create-activity-group" style="padding:20px;">
    <h4>Create New Activity</h4>
    <input type="hidden" asp-for="MakePublic" />
    <div class="row">
        <div class="row centered" style="width:50%;">
            <label for="txtGroupName">Activity Name:</label>
            <div class="width-100">
                <input type="text" style="width:100%;" id="txtGroupName" placeholder="Enter Name" />
            </div>
            <div class="row hide-if-create-group-only" style="font-size:0.7em; margin-top:10px;">
                <a id="aEditTitle">Add Unique Title</a>
            </div>
        </div>
    </div>


    @if (Model.MakePublic)
    {
        <div class="row" style="margin-top:25px;">
            <label style="margin-left:25%;">Share With</label>
            @foreach (var group in Model.AvailableGroups)
            {
                <div class="row" style="width:50%;">
                    @if (Model.SharedGroupIds.Contains(group.Id))
                    {
                        <input id="@GenerateId("rbShareGroup", group.Id)" type="checkbox" checked data-group-id="@group.Id" />

                    }
                    else
                    {
                        <input id="@GenerateId("rbShareGroup", group.Id)" type="checkbox" data-group-id="@group.Id" />

                    }

                    <label for="@GenerateId("rbShareGroup", group.Id)" style="margin-left:20px; cursor:pointer;">@group.Description</label>
                </div>

            }
        </div>

    }
    <div class="row uppercase group-save-options centered" style="width:50%;">
        <button id="btnSaveAsTile" class="btn">Save As Tile</button>
    </div>
    <div class="row uppercase group-save-options centered" style="width:50%;">
        <button id="btnContinueToLog" class="btn btn-primary">Continue to Log</button>
    </div>
    <div class="row centered group-save-options centered" style="margin-top:0px;">
        <div class="col" style="text-align:center; font-size:0.7em; width:100%;">
            <a asp-controller="Activities" asp-action="Dashboard">Cancel</a>
        </div>
    </div>
    @Html.Partial("_CreateActivity", Model)
    <div class="row hide-if-create-group-only centered">
        @*<a class="btn btn-primary" asp-controller="Activities" asp-action="Dashboard">Return to Dashboard</a>*@
        <button id="btnCreate" class="btn btn-primary">Create Activity Group</button>
    </div>
    <div class="row centered hide-if-create-group-only" style="margin-top:0px;">
        <div class="col" style="text-align:center; font-size:0.7em; width:100%;">
            <a asp-controller="Activities" asp-action="Dashboard">Cancel</a>
        </div>
    </div>
</section>
@section Scripts{
    <script type="text/javascript" src="~/content/scripts/activities/create-activity-group.js"></script>
    <script type="text/javascript" src="~/content/scripts/shared/start-end-dates.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            StartEndDates.Init('section.create-activity-group');
        });

    </script>

}