@using ElGroupo.Web.Models.Activities
@model EditLogAttendenceModel

@functions{
    public string GenerateId(string prefix, object val)
    {
        return prefix + val.ToString();

    }

    public string GetDocumentDisplay(bool anyDocs)
    {
        if (anyDocs) return "";
        else return "none";

    }
    public bool HasCreditType(List<long>
    selectedCategories, List<CreditCategoryModel>
        allCategories, long creditTypeId)
    {
        var allowedCategories = allCategories.Where(x => x.CreditTypeId == creditTypeId).Select(x => x.Id).ToList();
        if (selectedCategories.Intersect(allowedCategories).Count() > 0) return true;
        else return false;

    }

}

<section class="create-activity-group" style="padding:20px;">

    <div class="row">
        <h4>@Model.ActivityGroupName</h4>
        <div class="row centered" style="font-size:0.7em;">@Model.ActivityDescription</div>
        <input type="hidden" asp-for="ActivityId" />
        <input type="hidden" asp-for="ActivityGroupId" />
        <input type="hidden" asp-for="UserActivityId" />
    </div>
    <div class="divider"></div>


    @*<div class="row">
            <label style="margin-left:25%;">Description</label>
            <div class="row" style="width:50%;">
                @Model.ActivityDescription
            </div>

        </div>*@
    <div class="row">
        <label style="margin-left:25%;">Location</label>
        <div class="row" style="width:50%;">
            @Model.ActivityLocation
        </div>

    </div>
    @if (Model.ActivityTimeText != null)
    {
        <div class="row">
            <label style="margin-left:25%;">Date</label>
            <div class="row" style="width:50%;">
                @Model.ActivityTimeText
            </div>

        </div>

    }
    @if (Model.PublicNotes != null)
    {
        <div class="row">
            <label style="margin-left:25%;">Notes</label>
            <div class="row" style="width:50%;">
                @Model.PublicNotes
            </div>

        </div>

    }
    <div class="divider"></div>
    <div class="row" id="divCreditTypes" style="margin-top:25px;">
        <label style="margin-left:25%;">Credit Types</label>
        <div style="display:table; margin-left:25%; margin-right:25%; width:50%; border-collapse:collapse">
            @for (var groupCount = 0; groupCount < Model.AllowedCredits.Count; groupCount += 3)
            {
                <div style="display: table-row; word-wrap:break-word; vertical-align:middle; margin-bottom:10px;">
                    @foreach (var creditCategory in Model.AllowedCredits.Skip(groupCount).Take(3))
                    {
                        <div style="display: table-cell; width:30%; vertical-align:middle;">
                            <div class="width-100 centered">
                                @if (Model.Credits.Any(x => x.CreditTypeCategoryId == creditCategory.CreditTypeCategoryId))
                                {
                                    <input type="text" style="text-align:center;font-family: 'Raleway'; margin-top:31px; width:40%; background-color:transparent; font-size:38px; border:none;" value="@Model.Credits.First(x=>x.CreditTypeCategoryId == creditCategory.CreditTypeCategoryId).NumberOfCredits" data-credit-category-id="@creditCategory.CreditTypeCategoryId" />

                                }
                                else
                                {

                                    <input type="text" style="text-align:center;font-family: 'Raleway'; margin-top:31px; width:40%; background-color:transparent; font-size:38px; border:none;" value="0" data-credit-category-id="@creditCategory.CreditTypeCategoryId" />
                                }

                            </div>
                        </div>
                    }
                </div>
                <div style="display: table-row; word-wrap:break-word; vertical-align:middle; margin-bottom:10px;">
                    @foreach (var creditCategory in Model.AllowedCredits.Skip(groupCount).Take(3))
                    {


                        <div style="display: table-cell; width:30%; vertical-align:middle;">
                            <div class="centered" style="margin-top:10px; text-transform:none; margin-left:20%; margin-right:20%;">@creditCategory.CreditTypeName &nbsp; @creditCategory.CreditTypeCategoryName</div>
                        </div>
                    }
                </div>

            }
        </div>
    </div>

    <div class="row" id="divAttendenceType">
        <label style="margin-left:25%;">Presenting?</label>
        <div class="row centered" id="divAttendenceType">
            @if (Model.IsPresenting)
            {
                <input type="radio" name="group" id="rbPresentingNo" />
                <label style="cursor:pointer;margin-left:10px; font-size:14px;" for="rbPresentingNo">No</label>
                <input type="radio" name="group" checked style="margin-left:40px;" id="rbPresentingYes" />
                <label style="cursor:pointer;margin-left:10px; font-size:14px;" for="rbPresentingYes">Yes</label>

            }
            else
            {
                <input type="radio" name="group" checked id="rbPresentingNo" />
                <label style="cursor:pointer;margin-left:10px; font-size:14px;" for="rbPresentingNo">No</label>
                <input type="radio" name="group" style="margin-left:40px;" id="rbPresentingYes" />
                <label style="cursor:pointer;margin-left:10px; font-size:14px;" for="rbPresentingYes">Yes</label>

            }


        </div>
    </div>

    @if (Model.IsPresenting)
    {
        <div class="row" id="divPresentationName">
            <label style="margin-left:25%">Presentation Name</label>
            <div class="width-100 centered">
                <input type="text" style="width:50%;" id="txtPresentationName" />
            </div>

        </div>

    }
    else
    {
        <div class="row" id="divPresentationName" style="display:none;">
            <label style="margin-left:25%">Presentation Name</label>
            <div class="width-100 centered">
                <input type="text" style="width:50%;" id="txtPresentationName" />
            </div>

        </div>


    }
    <div class="divider"></div>
    <div class="row">
        <label style="margin-left:25%;" for="txtDescription">My Notes</label>
        <div class="width-100 centered">
            <textarea style="width:50%; height:100px;" id="txtMyNotes"></textarea>
        </div>

    </div>


    @if (Model.ActivityDocuments.Any())
    {
        <div class="row centered" style="width:50%;">
            <label>Group Documents</label>

            <div style="display: table; margin-left:5%; margin-right:5%; width:90%; border-collapse:collapse;">
                <header style="display: table-row;border:1px solid white;">
                    <div style="display: table-cell; width:30%;">File Name</div>
                    <div style="display: table-cell; width:50%;">Description</div>
                    <div style="display: table-cell; width:20%;"></div>
                </header>
                @foreach (var doc in Model.ActivityDocuments)
                {
                    <div data-document-id="@doc.Id" style="display: table-row; word-wrap:break-word; vertical-align:middle; border-bottom:1px solid white; border-left:1px solid white;border-right:1px solid white;">
                        <div style="display: table-cell; vertical-align:middle;">@doc.FileName</div>
                        <div style="display: table-cell; vertical-align:middle;">@doc.Description</div>
                        <div style="display: table-cell; vertical-align:middle;"><a target="_blank" asp-controller="Activities" asp-action="GetActivityDocument" asp-route-documentId="@doc.Id">View</a></div>

                    </div>

                }
            </div>
        </div>


    }

    <div class="row centered" id="divDocumentsContainer" style="display:@GetDocumentDisplay(Model.Documents.Any()); width:50%;">
        <label>My Documents</label>

        <div id="divDocuments" style="display: table; margin-left:5%; margin-right:5%; width:90%; border-collapse:collapse;">
            @Html.Partial("_ActivityDocumentTable", Model.Documents)
        </div>
    </div>
    <div class="row centered" style="width:75%; margin-top:25px;">
        <input style="display:none;" type="file" multiple id="iptFile" />
        <button id="btnAddDocuments" class="btn btn-ghost">Add Document(s)</button>
    </div>





    @*<div class="row centered" id="divNewDocuments">

            <div style="display:none;" id="divRowTemplate">
                <div style="display: table-row; word-wrap:break-word; vertical-align:middle; border-bottom:1px solid white; border-left:1px solid white; border-right:1px solid white;">
                    <div style="display: table-cell; vertical-align:middle;"></div>
                    <div style="display: table-cell; vertical-align:middle;"><input placeholder="Enter a File Description..." style="width:100%;" type="text" /></div>
                    <div style="display: table-cell; vertical-align:middle;"><img style="height:40px; width:40px; cursor:pointer;" src="~/content/images/delete.png" /></div>
                </div>
            </div>
            <div id="divDocumentTable" style="display:none;" class="row centered">
                <div id="divTable" style="display: table; margin-left:5%; margin-right:5%; width:90%; border-collapse:collapse;">
                    <header style="display: table-row;">
                        <div style="display: table-cell; width:30%; border:1px solid white;">File Name</div>
                        <div style="display: table-cell; width:60%; border:1px solid white;">Description</div>
                        <div style="display: table-cell; width:10%; border:1px solid white;"></div>
                    </header>
                </div>
            </div>
            <div class="row centered" style="width:75%; margin-top:25px;">
                <input style="display:none;" type="file" multiple id="iptFile" />
                <button id="btnAddDocuments" class="btn btn-ghost">Add Document(s)</button>
            </div>
        </div>*@







    <div class="row centered">
        <button id="btnCreate" class="btn btn-primary">Update Attendence Log</button>
    </div>
    <div class="row centered" style="margin-top:0px;">
        <div class="col" style="text-align:center; font-size:0.7em; width:100%;">
            <a asp-controller="Activities" asp-action="Group" asp-route-activityGroupId="@Model.ActivityGroupId">Cancel</a>
        </div>
    </div>


    <div id="divAddDocuments" style="display:none; z-index:1000; height:100%; width:100%; position:fixed; top:0px;left:0px;">
        <div style="position:fixed; top:50%; left:50%; transform:translate(-50%, -50%);padding:60px; border:4px solid gray; border-radius:25px; background-color:white;">
            <div class="row">
                <div class="col span-2-of-2 centered">
                    <h4>Upload Documents</h4>
                </div>
            </div>
            <div style="display:none;">
                <div id="divUploadDocumentRowTemplate" style="display: table-row; word-wrap:break-word; vertical-align:middle; border-bottom:1px solid white; border-left:1px solid white;border-right:1px solid white;">
                    <div style="display: table-cell; vertical-align:middle;" data-file-name></div>
                    <div style="display: table-cell; vertical-align:middle; "><input data-file-description type="text" style="width:100%;" /></div>
                    <div style="display: table-cell; vertical-align:middle;" data-delete-pending-document><img style="height:40px; width:40px; cursor:pointer;" src="~/content/images/delete.png" /></div>
                </div>
            </div>

            <div id="divUploadDocumentsTable" style="display: table; border-collapse:collapse;">

                <header style="display: table-row;border:1px solid white;" id="divUploadDocumentHeader">
                    <div style="display: table-cell; width:40%; font-weight:bold; text-align:center;">File Name</div>
                    <div style="display: table-cell; width:50%;font-weight:bold; text-align:center;">Description</div>

                    <div style="display: table-cell; width:10%;"></div>
                </header>
            </div>
            <div class="row centered" style="margin-top:30px;">

                <button id="btnUploadDocuments" class="btn btn-primary">Upload</button>
            </div>
            <div class="row centered" style="margin-top:0px;">
                <div class="col" style="text-align:center; font-size:0.7em; width:100%;">
                    <a id="btnCancelAddDocuments">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script type="text/javascript" src="~/content/scripts/activities/edit-attendence-log.js"></script>

}
