@using ElGroupo.Web.Models.Events
@model EventInformationModel
@{
    Layout = null;
}
@functions{
    private string GetCheckInUrl(long eid)
    {

        var url = Url.Action("CheckIn", "Events", new { eid = eid });
        return url;

    }
    private string GetEventViewUrl(long eid)
    {

        var url = Url.Action("View", "Events", new { eid = eid });
        return url;

    }

    private string GetEventRowClass(bool isNew)
    {
        return isNew ? "unviewed-event dashboard-event-item" : "viewed-event dashboard-event-item";

    }

    private string GetDateRowText(EventInformationModel model)
    {
        string str = null;
        //if (model.IsRecurring && !model.IsRecurrenceItem) str = model.DateText + " | View Recurrences";
        //else str = model.DateText;
        str = model.DateText;
        if (model.RSVPRequested) str += "*";
        return str;

    }
}
@if (!Model.OrganizedByUser)
{
    <div style="margin-right:15px;">
        @if (Model.IsRecurrenceItem)
        {
            <input class="delete-recurrence-checkbox" data-recurrence-id="@Model.RecurrenceId.Value" type="checkbox" />

        }
        else
        {
            @if (Model.RecurrenceId.HasValue)
            {
                <input class="delete-event-checkbox" data-recurrence-id="@Model.RecurrenceId.Value" type="checkbox" />

            }
            else
            {

                <input class="delete-event-checkbox" type="checkbox" />
            }

        }


    </div>

}

<div style="display:flex; flex-direction:column; flex:6;">
    <span id="spanEventName" style="font-weight:bold; font-size:16px; ">@Model.Name</span>
    @*<a href="@GetEventViewUrl(e.Id)">@e.Name</a>*@

    @if (!Model.OrganizedByUser)
    {
        <span>@Model.OrganizerName</span>
    }
    @if (Model.RecurrenceId.HasValue && !Model.IsRecurrenceItem)
    {
        <span>@GetDateRowText(Model) | <a data-children-visible="false" data-recurrence-parent-item-id="@Model.RecurrenceId.Value" class="recurrence-link">View Recurrences</a></span>
        @*<span data-children-visible="false" data-recurrence-parent-item-id="@Model.RecurrenceId.Value" class="recurrence-link">@GetDateRowText(Model)</span>*@

    }
    else
    {
        <span>@GetDateRowText(Model)</span>
    }
    @*if the event does not require a rsvp, say "rsvp not required"*@
    @if (Model.CheckInStatus == ElGroupo.Domain.Enums.CheckInStatuses.AvailableForCheckIn && Model.RSVPStatus != ElGroupo.Domain.Enums.RSVPTypes.None)
    {
        <div>
            <a class="checkin-link" href="@GetCheckInUrl(Model.Id)" style="background-color:red; color:white; padding-left:10px; padding-right:10px; display:inline-block; border-radius:10px;">Check In Now!</a>
        </div>


    }
    else if (Model.CheckInStatus == ElGroupo.Domain.Enums.CheckInStatuses.CheckInSuccessful)
    {
        <div style="display:table;font-size:14px;">
            <div style="width:20px; border-radius:100%; background-color:green; display:table-cell; vertical-align:middle;"></div>
            <div style="margin-left:10px; vertical-align:middle;">Checked In</div>
        </div>

    }
    else if (Model.CheckInStatus == ElGroupo.Domain.Enums.CheckInStatuses.CheckInExpired)
    {
        <div style="display:table;font-size:14px;">
            @*<div style="width:20px; border-radius:100%; background-color:gray; display:table-cell; vertical-align:middle;"></div>*@
            <div style="width:20px; display:table-cell; height:20px;"><img src="~/content/images/dot-no.png" style="transform:scale(3,3); max-height:100%; max-width:100%;" /></div>
            <div style="margin-left:10px; vertical-align:middle; font-size:14px; letter-spacing:normal;">Event has expired!</div>
        </div>

    }
    else if (Model.RSVPStatus == ElGroupo.Domain.Enums.RSVPTypes.None)
    {
        if (!Model.IsNew)
        {
            <div style="display:table;font-size:14px;">
                @*<div style="width:20px; border-radius:100%; background-color:gray; display:table-cell; vertical-align:middle;"></div>*@
                <div style="width:20px; display:table-cell; height:20px;"><img src="~/content/images/dot-unknown.png" style="transform:scale(3,3); max-height:100%; max-width:100%;" /></div>
                <div style="margin-left:10px; vertical-align:middle; font-size:14px; letter-spacing:normal;">Response Pending</div>
            </div>
            <div style="font-size:14px;">
                RSVP Now<a class="quick-response" data-response-type="yes">Yes</a><a class="quick-response" data-response-type="maybe">Maybe</a><a class="quick-response" data-response-type="no">No</a>


            </div>
        }
        else
        {
            <div style="display:table;font-size:14px;">
                @*<div style="width:20px; border-radius:100%; background-color:gray; display:table-cell; vertical-align:middle;"></div>*@
                <div style="width:20px; display:table-cell; height:20px;"><img src="~/content/images/dot-new.png" style="transform:scale(3,3); max-height:100%; max-width:100%;" /></div>
                <div style="margin-left:10px; vertical-align:middle; font-size:14px; letter-spacing:normal;">NEW</div>
            </div>

        }




    }
    else if (Model.RSVPStatus == ElGroupo.Domain.Enums.RSVPTypes.Maybe)
    {
        <div style="display:table; font-size:14px;">
            <div style="width:20px; display:table-cell; height:20px;"><img src="~/content/images/dot-maybe.png" style="transform:scale(3,3); max-height:100%; max-width:100%;" /></div>
            <div style="margin-left:10px; vertical-align:middle; letter-spacing:normal;">I might go</div>
        </div>

    }
    else if (Model.RSVPStatus == ElGroupo.Domain.Enums.RSVPTypes.No)
    {
        <div style="display:table;font-size:14px;">
            <div style="width:20px; display:table-cell; height:20px;"><img src="~/content/images/dot-no.png" style="transform:scale(3,3); max-height:100%; max-width:100%;" /></div>
            <div style="margin-left:10px; vertical-align:middle; letter-spacing:normal;">Can't make it!</div>
        </div>

    }
    else if (Model.RSVPStatus == ElGroupo.Domain.Enums.RSVPTypes.Yes)
    {
        <div style="display:table;font-size:14px;">
            <div style="width:20px; display:table-cell; height:20px;"><img src="~/content/images/dot-yes.png" style="transform:scale(3,3); max-height:100%; max-width:100%;" /></div>
            <div style="margin-left:10px; vertical-align:middle; letter-spacing:normal;">I'm in!</div>
        </div>

    }

</div>
@if (!Model.IsRecurrenceItem)
{
    <div class="open-event-arrow" style="height:25px; display:flex; flex:1; align-self:center;"><img id="imgEventArrow" data-recurrence-id="@Model.RecurrenceId" src="~/content/images/open-event.png" style="max-height:100%; max-width:100%" /></div>
    <div class="close-event-arrow" style="height:25px; display:none; flex:1; align-self:center;"><img id="imgEventArrow" data-recurrence-id="@Model.RecurrenceId" src="~/content/images/close-event.png" style="max-height:100%; max-width:100%" /></div>

}




