@using ElGroupo.Web.Models.Events
@using ElGroupo.Domain.Enums
@using System.ComponentModel.DataAnnotations
@using System.Reflection
@functions{
    public string GetEnumDisplayName(Enum value)
    {
        if (value == null) return string.Empty;
        var att = value.GetType().GetTypeInfo().GetDeclaredField(value.ToString());
        if (att == null) return value.ToString();
        var dispAtt = att.GetCustomAttribute<DisplayAttribute>();
        if (dispAtt == null) return value.ToString();
        return dispAtt.Description;
    }

}
@model CreateEventModel

@{
    Layout = null;

}

<div class="row">
    <label>Recurrence Pattern</label>
</div>
<div class="row recurrence-pattern">
    <div class="col span-1-of-3">
        <input id="rbRecurrenceDaily" type="radio" asp-for="Recurrence.Pattern" value="Daily" checked />
        <label for="rbRecurrenceDaily">Daily</label>
    </div>
    <div class="col span-1-of-3">
        <input id="rbRecurrenceWeekly" type="radio" asp-for="Recurrence.Pattern" value="Weekly"/>
        <label for="rbRecurrenceDaily">Weekly</label>
    </div>
    <div class="col span-1-of-3">
        <input id="rbRecurrenceMonthly" type="radio" asp-for="Recurrence.Pattern" value="Monthly"/>
        <label for="rbRecurrenceDaily">Monthly</label>
    </div>
</div>
@*<div class="row">

    <label asp-for="Recurrence.Pattern">Pattern:</label>
    <div data-replace-element="Recurrence_Pattern" class="row switch-container">
        <input type="hidden" asp-for="Recurrence.Pattern" />
        <span data-replace-val="Daily" class="col span-1-of-3">Daily</span>
        <span data-replace-val="Weekly" class="col span-1-of-3">Weekly</span>
        <span data-replace-val="Monthly" class="col span-1-of-3">Monthly</span>
    </div>
</div>*@

@*only show this when weekly is selected*@
<div class="row days-of-week" style="display:none;">

    <label>On:</label>
    <div class="row switch-container-multi" style="text-align:center;">
        @for (var x = 0; x < Model.Recurrence.Days.Length; x++)
            {
            <input class="invisible" data-day-index="@x" type="checkbox" asp-for="Recurrence.Days[x]" />
        }
        <span data-day-index="0" data-selected="false" data-val="@Convert.ToInt32(DaysOfWeek.Monday)" class="col span-1-of-7">@GetEnumDisplayName(DaysOfWeek.Monday)</span>
        <span data-day-index="1" data-selected="false" data-val="@Convert.ToInt32(DaysOfWeek.Tuesday)" class="col span-1-of-7">@GetEnumDisplayName(DaysOfWeek.Tuesday)</span>
        <span data-day-index="2" data-selected="false" data-val="@Convert.ToInt32(DaysOfWeek.Wednesday)" class="col span-1-of-7">@GetEnumDisplayName(DaysOfWeek.Wednesday)</span>
        <span data-day-index="3" data-selected="false" data-val="@Convert.ToInt32(DaysOfWeek.Thursday)" class="col span-1-of-7">@GetEnumDisplayName(DaysOfWeek.Thursday)</span>
        <span data-day-index="4" data-selected="false" data-val="@Convert.ToInt32(DaysOfWeek.Friday)" class="col span-1-of-7">@GetEnumDisplayName(DaysOfWeek.Friday)</span>
        <span data-day-index="5" data-selected="false" data-val="@Convert.ToInt32(DaysOfWeek.Saturday)" class="col span-1-of-7">@GetEnumDisplayName(DaysOfWeek.Saturday)</span>
        <span data-day-index="6" data-selected="false" data-val="@Convert.ToInt32(DaysOfWeek.Sunday)" class="col span-1-of-7">@GetEnumDisplayName(DaysOfWeek.Sunday)</span>




    </div>
</div>
<div class="row monthly-recurrence" style="display:none;">
    <div class="col span-1-of-4">
        <label>Day(s) of Month (separate by commas)</label>
    </div>
    <div class="col span-3-of-4">
        <input class="width-100" asp-for="Recurrence.DaysOfMonth" />
    </div>
</div>
<div class="row">
    <div class="col span-1-of-6">
        <label asp-for="Recurrence.RecurrenceInterval">Recur Every:</label>
    </div>
    <div class="col span-1-of-6">
        <input class="width-100" asp-for="Recurrence.RecurrenceInterval" />
    </div>
    <div class="col span-1-of-6">
        <label id="lblInterval">Days</label>
    </div>
    <div class="col span-1-of-6">
        <label asp-for="Recurrence.RecurrenceLimit">End After:</label>
    </div>
    <div class="col span-1-of-6">
        <input class="width-100" asp-for="Recurrence.RecurrenceLimit" />
    </div>
    <div class="col span-1-of-6">
        <label>Occurrences</label>
    </div>
</div>
