@using ElGroupo.Web.Models.Events
@using ElGroupo.Domain.Enums
@model EventAttendeesModel
@{
    Layout = null;
}
@functions{
    public List<List<T>> SplitList<T>(IEnumerable<T> values, int groupSize, int? maxCount = null)
    {
        List<List<T>> result = new List<List<T>>();
        // Quick and special scenario
        if (values.Count() <= groupSize)
        {
            result.Add(values.ToList());
        }
        else
        {
            List<T> valueList = values.ToList();
            int startIndex = 0;
            int count = valueList.Count;
            int elementCount = 0;

            while (startIndex < count && (!maxCount.HasValue || (maxCount.HasValue && startIndex < maxCount)))
            {
                elementCount = (startIndex + groupSize > count) ? count - startIndex : groupSize;
                result.Add(valueList.GetRange(startIndex, elementCount));
                startIndex += elementCount;
            }
        }


        return result;

    }
    public string GetImageUrl(long id)
    {
        var url = Url.Action("UserPhoto", "Users", new { id = id });
        return url;
    }
    public string GetUserViewLink(long id)
    {
        var url = Url.Action("View", "Account", new { id = id });
        return url;

    }

}
@if (Model.Attendees.Count > 0)
{
    @*justify-content:center;*@
    <div style="display:flex; flex-wrap:wrap; ">
        @foreach (var att in Model.Attendees)
        {


            <div data-user-id="@att.UserId" class="centered rounded-border attendee-container" style="text-align:center; position:relative; display:flex; cursor:pointer; margin-left:50px; margin-bottom:30px;">

                <div class="attendee-info">
                    @if (att.IsOrganizer)
                    {
                        <img class="image-circle-200 img-event-organizer" style="background-image:url('@GetImageUrl(att.UserId.Value)')" />
                        <a href="@GetUserViewLink(att.UserId.Value)" target="_blank" class="no-decoration">
                            <span class="attendee-name @att.RSVPStatus.ToString().ToLower()">@att.Name*</span>
                        </a>
                    }
                    else
                    {
                        @if (att.UserId.HasValue)
                        {
                            <img class="image-circle-200" style="background-image:url('@GetImageUrl(att.UserId.Value)')" />
                            <a href="@GetUserViewLink(att.UserId.Value)" target="_blank" class="no-decoration">
                                <span class="attendee-name @att.RSVPStatus.ToString().ToLower()">@att.Name</span>
                            </a>

                        }
                        else
                        {
                            <img class="image-circle-200" style="background-image:url('@GetImageUrl(-1)')" />
                            <span class="attendee-name @att.RSVPStatus.ToString().ToLower()">@att.Name</span>
                        }

                    }

                </div>


            </div>


        }
    </div>




}
else
{
    <h3 style="text-align:center;">This event has no attendees...</h3>

}
