@using ElGroupo.Web.Models.Events
@model ViewEventAttendeesModel
@{
    Layout = null;
}
@functions{
    public List<List<T>> SplitList<T>(IEnumerable<T> values, int groupSize, int? maxCount = null)
    {
        List<List<T>> result = new List<List<T>>();
        // Quick and special scenario
        if (values.Count() <= groupSize)
        {
            result.Add(values.ToList());
        }
        else
        {
            List<T> valueList = values.ToList();
            int startIndex = 0;
            int count = valueList.Count;
            int elementCount = 0;

            while (startIndex < count && (!maxCount.HasValue || (maxCount.HasValue && startIndex < maxCount)))
            {
                elementCount = (startIndex + groupSize > count) ? count - startIndex : groupSize;
                result.Add(valueList.GetRange(startIndex, elementCount));
                startIndex += elementCount;
            }
        }


        return result;

    }
    public string GetImageUrl(long id)
    {
        var url = Url.Action("UserPhoto", "Users", new { id = id });
        return url;
    }
    public string GetUserViewLink(long id)
    {
        var url = Url.Action("View", "Account", new { id = id });
        return url;

    }



}

@if (Model.Attendees.Count > 0)
{
    @foreach (var attGroup in SplitList<EventAttendeeModel>(Model.Attendees, 4))
    {
        <div class="row">
            @foreach (var att in attGroup)
            {
                @*<div class="col span-1-of-4" style="text-align:center;">
                        <a href="@GetUserViewLink(att.UserId)">
                            <img class="image-circle-200" style="background-image:url('@GetImageUrl(att.UserId)')" />

                            @if (att.RSVPStatus == ElGroupo.Domain.Enums.RSVPTypes.Maybe)
                            {
                                <span style="font-weight:bold; padding:5px; text-transform:uppercase; border-radius:5px; background-color:yellow">@att.Name</span>

                            }
                            else if (att.RSVPStatus == ElGroupo.Domain.Enums.RSVPTypes.No)
                            {

                                <span style="font-weight:bold;  padding:5px;text-transform:uppercase;  border-radius:5px; background-color:red">@att.Name</span>
                            }
                            else if (att.RSVPStatus == ElGroupo.Domain.Enums.RSVPTypes.Yes)
                            {
                                <span style="font-weight:bold;  padding:5px;text-transform:uppercase;  border-radius:5px; background-color:green">@att.Name</span>

                            }
                            else if (att.RSVPStatus == ElGroupo.Domain.Enums.RSVPTypes.None)
                            {
                                <span style="font-weight:bold;  padding:5px;text-transform:uppercase;  border-radius:5px; background-color:gray">@att.Name</span>

                            }
                            else
                            {
                                <span style="font-weight:bold;  padding:5px;text-transform:uppercase;">@att.Name</span>
                            }
                            @if (att.IsOrganizer)
                            {
                                <span>*</span>

                            }
                        </a>

                    </div>*@

                <div data-user-id="@att.UserId" class="col span-1-of-4 centered rounded-border" style="text-align:center; position:relative; cursor:pointer">
                    <div class="attendee-info" style="z-index:2;">
                        <img class="image-circle-200" style="background-image:url('@GetImageUrl(att.UserId)')" />
                        @if (att.RSVPStatus == ElGroupo.Domain.Enums.RSVPTypes.Maybe)
                        {
                            <span style="font-weight:bold; padding:5px; text-transform:uppercase; border-radius:5px; background-color:yellow; color:white;">@att.Name</span>

                        }
                        else if (att.RSVPStatus == ElGroupo.Domain.Enums.RSVPTypes.No)
                        {

                            <span style="font-weight:bold;  padding:5px;text-transform:uppercase;  border-radius:5px; background-color:red;color:white;">@att.Name</span>
                        }
                        else if (att.RSVPStatus == ElGroupo.Domain.Enums.RSVPTypes.Yes)
                        {
                            <span style="font-weight:bold;  padding:5px;text-transform:uppercase;  border-radius:5px; background-color:green;color:white;">@att.Name</span>

                        }
                        else if (att.RSVPStatus == ElGroupo.Domain.Enums.RSVPTypes.None)
                        {
                            <span style="font-weight:bold;  padding:5px;text-transform:uppercase;  border-radius:5px; background-color:gray;color:white;">@att.Name</span>

                        }
                        else
                        {
                            <span style="font-weight:bold;  padding:5px;text-transform:uppercase;color:white;">@att.Name</span>
                        }
                        @if (att.IsOrganizer)
                        {
                            <span>*</span>

                        }



                    </div>
                    <div class="attendee-links centered" style="z-index:3; display:none; position:absolute; top: 40%; left:5%; width:90%;">
                        <a class="no-decoration" data-action="profile" data-profile-link="@GetUserViewLink(att.UserId)">View Profile</a>
                        @*this needs to be "is viewer organizer" - not attendee*@
                        @if (Model.IsOrganizer)
                        {
                            <a class="no-decoration" data-action="remove" style="display:inline-block; width:100%;">Remove Attendee</a>
                        }

                    </div>









                </div>
            }
        </div>
    }

}
else
{
    <h3 style="text-align:center;">You haven't invited anyone dumbass!</h3>

}
