@using ElGroupo.Web.Models.Events
@using ElGroupo.Domain.Enums
@model ViewEventAttendeesModel
@{
    Layout = null;
}
@functions{
    public List<List<T>> SplitList<T>(IEnumerable<T> values, int groupSize, int? maxCount = null)
    {
        List<List<T>> result = new List<List<T>>();
        // Quick and special scenario
        if (values.Count() <= groupSize)
        {
            result.Add(values.ToList());
        }
        else
        {
            List<T> valueList = values.ToList();
            int startIndex = 0;
            int count = valueList.Count;
            int elementCount = 0;

            while (startIndex < count && (!maxCount.HasValue || (maxCount.HasValue && startIndex < maxCount)))
            {
                elementCount = (startIndex + groupSize > count) ? count - startIndex : groupSize;
                result.Add(valueList.GetRange(startIndex, elementCount));
                startIndex += elementCount;
            }
        }


        return result;

    }
    public string GetImageUrl(long id)
    {
        var url = Url.Action("UserPhoto", "Users", new { id = id });
        return url;
    }
    public string GetUserViewLink(long id)
    {
        var url = Url.Action("View", "Account", new { id = id });
        return url;

    }



}

@if (Model.Attendees.Count > 0)
{
    <div style="display:flex; justify-content:center;">
        @if (Model.IsOrganizer)
        {
            <div id="divAddNewAttendee" data-user-id="-1" class="centered rounded-border" style="text-align:center; position:relative; display:flex; cursor:pointer; ">
                <div class="attendee-info" style="z-index:2;">

                    <img class="image-circle-200" style="background-image:url('/content/images/add-128.png'); border-radius:0px; background-size:initial; transform:scale(0.7);" />

                    <span class="attendee-name">Add New</span>


                </div>

            </div>

        }
        @foreach (var att in Model.Attendees)
        {
            <div data-user-id="@att.UserId" class="centered rounded-border attendee-container" style="text-align:center; position:relative; display:flex; cursor:pointer">
                <div class="attendee-info add-attendee-link" style="z-index:2;">
                    <img class="image-circle-200" style="background-image:url('@GetImageUrl(att.UserId)')" />
                    @if (att.IsOrganizer)
                    {
                        <span class="attendee-name @att.RSVPStatus.ToString().ToLower()">@att.FirstName*</span>
                    }
                    else
                    {
                        <span class="attendee-name @att.RSVPStatus.ToString().ToLower()">@att.FirstName</span>

                    }
                </div>
                <div class="attendee-links centered" style="z-index:4; display:none; position:absolute; top: 30%; left:5%; right:5%;">
                    <a style="width:100%;" data-action="profile" data-profile-link="@GetUserViewLink(att.UserId)">View</a>
                    @if (Model.IsOrganizer)
                    {
                        <a data-action="remove" style="display:inline-block;width:100%;">Remove</a>
                    }
                </div>
            </div>
        }
    </div>
    @*@foreach (var attGroup in SplitList<EventAttendeeModel>(Model.Attendees, 4))
        {
            <div class="row">
                @foreach (var att in attGroup)
                {
                    <div data-user-id="@att.UserId" class="col span-1-of-4 centered rounded-border attendee-container" style="text-align:center; position:relative; cursor:pointer">
                        <div class="attendee-info" style="z-index:2;">
                            <img class="image-circle-200" style="background-image:url('@GetImageUrl(att.UserId)')" />
                            @if (att.IsOrganizer)
                            {
                                <span class="attendee-name @att.RSVPStatus.ToString().ToLower()">@att.FirstName*</span>
                            }
                            else
                            {
                                <span class="attendee-name @att.RSVPStatus.ToString().ToLower()">@att.FirstName</span>

                            }
                        </div>
                        <div class="attendee-links centered" style="z-index:4; display:none; position:absolute; top: 40%; left:5%; right:5%;">
                            <a data-action="profile" data-profile-link="@GetUserViewLink(att.UserId)">View Profile</a>
                            @if (Model.IsOrganizer)
                            {
                                <a data-action="remove" style="display:inline-block;">Remove Attendee</a>
                            }
                        </div>
                    </div>
                }
            </div>
        }*@

    @if (Model.IsOrganizer && Model.Attendees.Any(x => x.RSVPStatus == RSVPTypes.None))
    {
        <div class="row centered">
            <div class="col span-2-of-2">
                <a id="btnSendRSVPReminders" class="btn btn-primary">Send RSVP Reminders</a>
            </div>
        </div>

    }

}
else
{
    <h3 style="text-align:center;">This event has no attendees...</h3>

}
