@using ElGroupo.Web.Models.Events
@model EventContactsModel

<style type="text/css">
    #infowindow-content .title {
        font-weight: bold;
    }

    #infowindow-content {
        display: none;
    }

    #divMap #infowindow-content {
        display: inline;
    }

    .row.search-method {
        display: none;
    }


    input[type=text], input[type=select] {
        width: 100%;
    }

    .row.attendees, .row.notifications, .row.messages {
        display: none;
    }

    a.no-decoration {
        color: #808080;
        padding-bottom: 0px;
        border-bottom: none;
    }

    li.new-event {
        background-color: aquamarine;
        border-radius: 25px;
        font-weight: 300;
    }

    .row li {
        cursor: pointer;
    }

    li span {
        display: inline-block;
        width: 100%;
    }

    a {
        color: blue;
    }

    .page-nav {
        text-align: center;
        list-style: none;
    }

        .page-nav a {
            margin-left: 60px;
        }

    .bold {
        font-weight: bold;
    }
    .row.manual-search {
        display: none;
    }

    .row.attendees {
        display: none;
    }
</style>
<section>
    <div class="row" style="text-align:center;">
        <h2>@Model.Event.Name</h2>
        <input type="hidden" asp-for="@Model.Event.Id" />
    </div>
    <div class="row" style="text-align:center;">
        <span>@Model.Event.StartDate.ToString() - @Model.Event.EndDate.ToString()</span>
    </div>
</section>
<div class="page-nav">
    <a class="links bold" data-link-type="organizers" href="#">Organizers</a>
    <a class="links" data-link-type="attendees" href="#">Attendees</a>
</div>
<div class="row tab organizers">
    <h2>Edit Organizers</h2>
    <div class="row">
        <div class="col span-2-of-10"><label>Select Organizer:</label></div>
        <div class="col span-5-of-10">
            <input id="txtOrganizers" class="width-100" />
        </div>
        <div class="col span-1-of-10">
            <label for="owner">Owner?</label>
            <input name="owner" type="checkbox" id="chkOwner" />
        </div>
        <div class="col span-2-of-10">
            <a class="btn btn-primary" disabled id="btnAddOrganizer">Add as Organizer</a>
        </div>
    </div>
    <div class="row" id="divOrganizers">

        @Html.Partial("_Organizers", Model.Organizers)
    </div>
</div>
<div class="row tab attendees">
    <h2>Edit Attendees</h2>
    <div class="row">
        <div class="col span-1-of-3">
            <label>Select People to Invite:</label>
        </div>
        <div class="col span-1-of-3">
            <input id="rbExistingContacts" class="contact-search-rb" name="selection" checked type="radio" /> Search for ElGroupo Members
        </div>
        <div class="col span-1-of-3">
            <input id="rbNewContact" class="contact-search-rb" name="selection" type="radio" /> Enter Name and Email
        </div>

    </div>
    <div class="row select-existing-contacts">
        <div class="col span-3-of-10"><label>Enter Name or Email Address:</label></div>
        <div class="col span-5-of-10">
            <input id="txtAttendees" class="width-100" />
        </div>
        <div class="col span-2-of-10">
            <a class="btn btn-primary" disabled id="btnAddAttendee">Add Attendee</a>
        </div>
    </div>
    <div class="row manual-search">
        <div class="col span-1-of-4">
            <label for="new-user-name">Name:</label>
        </div>
        <div class="col span-3-of-4">
            <input class="width-100" name="new-user-name" id="txtNewUserName">
        </div>
    </div>
    <div class="row manual-search">
        <div class="col span-1-of-4">
            <label for="new-user-email">Email:</label>
        </div>
        <div class="col span-3-of-4">
            <input class="width-100" name="new-user-email" id="txtNewUserEmail" type="email">
        </div>
    </div>
    <div class="row manual-search">
        <div class="col span-1-of-4">
            <a id="btnAddNewUser" class="btn btn-primary">Invite New User!</a>
        </div>

    </div>
    <div class="row" id="divAttendees">
        @Html.Partial("_Attendees", Model.Attendees)
    </div>
</div>


@section Scripts{
    <script type="text/javascript" src="~/content/scripts/events/contacts.js"></script>

}
