@using ElGroupo.Web.Models.Home
@model EventDashboardModel



<section id="secMain">

    <h3 style="padding-left:2%;">My Events</h3>

@if (Model.RSVPRequestedEvents.Count > 0)
{
    <div class="width-100" style="background-color:black; color:white; text-align:center; padding-top:10px; padding-bottom:10px;">
        @if (Model.RSVPRequestCount > 1)
        {
            <div style="text-transform:uppercase;">@Model.RSVPRequestCount.ToString() Immediate RSVPs Requested</div>

        }
        else if (Model.RSVPRequestCount == 1)
        {
            <div style="text-transform:uppercase;">1 Immediate RSVP Requested</div>
        }
        <div style="cursor:pointer;">Click To Respond</div>
    </div>

    }

    <div class="row page-nav" style="width:100%; margin-top:52px; margin-bottom:5px;">

        <div class="col span-1-of-4">
            <a class="links bold" data-link-type="future-events" href="#">Upcoming (@Model.FutureEvents.Count.ToString())</a>
        </div>
        <div class="col span-1-of-4">
            <a class="links" data-link-type="past-events" href="#">Past (@Model.PastEvents.Count.ToString())</a>
        </div>
        <div class="col span-1-of-4">
            <a class="links" data-link-type="my-events" href="#">My Events (@Model.MyEvents.Count.ToString())</a>
        </div>
        @*<div class="col span-1-of-5">
            <a class="links" data-link-type="my-attendance" href="#">My Attendance</a>
        </div>*@
        <div class="col span-1-of-4">
            <a class="links" data-link-type="draft-events" href="#">Drafts (@Model.Drafts.Count.ToString())</a>
        </div>






    </div>
    @if (Model.RSVPRequestedEvents.Count > 0)
    {
        <div data-tab-type="action-items" class="row tab action-items" style="display:none;">
            @Html.Partial("_DashboardEventList", Model.RSVPRequestedEvents)
        </div>

    }

    <div data-tab-type="future-events" class="row tab future-events">
        @if (Model.FutureEvents.Count > 0)
            {
            @Html.Partial("_DashboardEventList", Model.FutureEvents)

        }
        else
        {
            <div class="col width-100" style="text-align:center;">
                <h4>You have no upcoming events.  Click "Create New" to start one of your own!</h4>
                <a asp-controller="Events" asp-action="Create" class="btn btn-primary" style="margin-top:20%;">Create New!</a>
            </div>
            
        }

    </div>
    <div data-tab-type="past-events" class="row tab past-events" style="display:none;">
        @if (Model.PastEvents.Count > 0)
            {
            @Html.Partial("_DashboardEventList", Model.PastEvents)


        }
        else
        {
            <div class="col width-100" style="text-align:center;">
                <h4>You have no past events</h4>
            </div>

        }

    </div>
    <div data-tab-type="my-events" class="row tab my-events" style="display:none;">
        @if (Model.MyEvents.Count > 0)
            {
            @Html.Partial("_DashboardEventList", Model.MyEvents)


        }
        else
        {
            <div class="col width-100" style="text-align:center;">
                <h4>You are not the organizer of any events</h4>
            </div>

        }

    </div>

    <div  data-tab-type="draft-events" class="row tab draft-events" style="display:none;">
        @if (Model.Drafts.Count > 0)
            {
            @Html.Partial("_DashboardEventList", Model.Drafts)

        }
        else
        {
            <div class="col width-100" style="text-align:center;">
                <h4>You have no draft events</h4>
            </div>

        }

    </div>
</section>

@section Scripts{
    <script type="text/javascript" src="~/content/scripts/home/dashboard.js"></script>

}