@using ElGroupo.Web.Models.Events
@using System.Collections.Generic
@using ElGroupo.Web.Models.Enums
@model EventViewModel


@functions{
    public List<List<T>> SplitList<T>(IEnumerable<T> values, int groupSize, int? maxCount = null)
    {
        List<List<T>> result = new List<List<T>>();
        // Quick and special scenario
        if (values.Count() <= groupSize)
        {
            result.Add(values.ToList());
        }
        else
        {
            List<T> valueList = values.ToList();
            int startIndex = 0;
            int count = valueList.Count;
            int elementCount = 0;

            while (startIndex < count && (!maxCount.HasValue || (maxCount.HasValue && startIndex < maxCount)))
            {
                elementCount = (startIndex + groupSize > count) ? count - startIndex : groupSize;
                result.Add(valueList.GetRange(startIndex, elementCount));
                startIndex += elementCount;
            }
        }


        return result;

    }
    public string GetImageUrl(int id)
    {
        var url = Url.Action("UserPhoto", "Users", new { id = id });
        return url;
    }

    public string GetUserViewLink(int id)
    {
        var url = Url.Action("View", "Account", new { id = id });
        return url;

    }
}


<input type="hidden" asp-for="EventId" />
<div class="row">
    <h2>@Model.Details.Name</h2>
    <h3 class="centered">Organizer: @Model.OrganizerName</h3>
</div>
<div class="page-nav row">
    @if (Model.IsOrganizer)
    {
        <div class="col span-1-of-5"><a class="links bold" data-link-type="details" href="#">Event&nbsp;Details</a></div>
        <div class="col span-1-of-5"><a class="links" data-link-type="add-attendees" href="#">Add New Attendees</a></div>
        <div class="col span-1-of-5"><a class="links" data-link-type="attendees" href="#">Attendees</a></div>
        <div class="col span-1-of-5"><a class="links" data-link-type="notifications" href="#">Event&nbsp;Notifications</a></div>
        <div class="col span-1-of-5"><a class="links" data-link-type="messages" href="#">Messages</a></div>

    }
    else
    {
        //something where the user can set their rsvp status
        <div class="row">
            <div class="col span-1-of-4">
                <label>Am I going?</label>
            </div>
            <div data-replace-element="RSVPRequired" class="switch-container col span-3-of-4 rsvp-required">
                <input class="invisible" asp-for="RSVPStatus" />
                <span data-replace-val="true" class="switch-selected col span-1-of-4"></span>
                <span data-replace-val="false" class="col span-1-of-4">No</span>
                <span data-replace-val="true" class="switch-selected col span-1-of-4">Yes</span>
                <span data-replace-val="false" class="col span-1-of-4">No</span>
            </div>
        </div>
        <div class="col span-1-of-4"><a class="links bold" data-link-type="details" href="#">Event&nbsp;Details</a></div>
        <div class="col span-1-of-4"><a class="links" data-link-type="attendees" href="#">Attendees</a></div>
        <div class="col span-1-of-4"><a class="links" data-link-type="notifications" href="#">Event&nbsp;Notifications</a></div>
        <div class="col span-1-of-4"><a class="links" data-link-type="messages" href="#">Messages</a></div>

    }
   




</div>
<div class="row tab details contact-form">
    <div id="divViewDetails">
        @Html.Partial("_ViewEventDetails", Model.Details)
    </div>
    @if (Model.IsOrganizer)
    {
    <div style="display:none;" id="divEditDetails"></div>
    <div class="row centered">
        <a id="btnEditDetails" href="#">Edit</a>
        <a style="display:none;" id="btnCancelEditDetails" href="#">Cancel</a>
        <a style="display:none;" id="btnSaveEditDetails" href="#">Save</a>
    </div>

    }
    <div class="row map-search">
        <div class="col span-7-of-7">
            <div id="divMap" style="width:100%;height:300px"></div>
            <div id="infowindow-content">
                <img src="" width="16" height="16" id="place-icon">
                <span id="place-name" class="title"></span><br>
                <span id="place-address"></span>
            </div>
        </div>

    </div>
    <div id="divViewLocation">
        @Html.Partial("_ViewEventLocation", Model.Location)
    </div>
    @if (Model.IsOrganizer)
    {
    <div style="display:none;" id="divEditLocation"></div>
    <div class="row centered">
        <a id="btnEditLocation" href="#">Edit Location</a>
        <a style="display:none;" id="btnCancelEditLocation" href="#">Cancel Location Changes</a>
        <a style="display:none;" id="btnSaveEditLocation" href="#">Save Location Changes</a>
    </div>
    }

    <div class="row">

        <a class="btn btn-primary width-100" asp-controller="Home" asp-action="Dashboard">Return to My Events</a>

    </div>

</div>

@if (Model.IsOrganizer)
{

    <div class="row tab add-attendees contact-form" style="display:none;">
        <h2>Invite more shitheads to your lame event</h2>
        @Html.Partial("_EditEventAttendees", Model.Details)

    </div>

}

<div class="row tab attendees contact-form">


    <div id="divViewAttendees">
        @Html.Partial("_ViewEventAttendees", Model.Attendees)
    </div>

</div>
<div class="row tab notifications contact-form">
    <h2>Notifications</h2>
    <div id="divNotifications">
        @Html.Partial("_ViewEventNotifications", Model.Notifications)
    </div>

    @if (Model.IsOrganizer)
    {
        @Html.Partial("_EditEventNotifications")

    }
</div>

<div class="row tab messages contact-form">
    <h2>Message Board</h2>
    <div id="divMessages">
        @Html.Partial("_ViewEventMessages", Model.Messages)
    </div>
    @Html.Partial("_AddEventMessage")
</div>

@section Scripts{
    <script type="text/javascript" src="~/content/scripts/events/view.js"></script>
    <script type="text/javascript" src="~/content/scripts/events/message-board.js"></script>
    <script type="text/javascript" src="~/content/scripts/events/view-notifications.js"></script>
    @if (Model.IsOrganizer)
    {
        <script type="text/javascript" src="~/content/scripts/events/edit-notifications.js"></script>
            <script type="text/javascript" src="~/content/scripts/events/edit.js"></script>
            <script type="text/javascript" src="~/content/scripts/events/edit-attendees.js"></script>

    }
    <script type="text/javascript" src="~/content/scripts/shared/maps.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            Maps.Init({
                mapDiv: 'divMap',
                mapLoadedCallback: ViewEvent.MapLoaded
            });

        });
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8AObtWB7hUVmZkx7p6KIt2aXiKMZVXDk&libraries=places,drawing&callback=Maps.InitMap">
    </script>

}
