@using ElGroupo.Web.Models.Events
@model IEnumerable<EventInformationModel>

<ul>
    @foreach (var e in Model)
    {
        <li data-event-id="@e.Id" class="@(e.IsNew ? "new-event": "")">
            <div class="row">


                @if (e.IsNew && !e.OrganizedByUser)
                {
                    //if it's new, there's obviously no response status
                    <div class="col span-1-of-8" style="background-color:red; color:white; border: 1px solid black; padding:4px;">NEW!</div>

                }
                else if (e.OrganizedByUser)
                {
                    <div class="col span-1-of-8" style="background-color:green; color:white; border: 1px solid black; padding:4px;">This is my event</div>

                }
                else
                {
                    if (e.RSVPStatus == ElGroupo.Domain.Enums.RSVPTypes.None)
                    {
                        <div class="col span-1-of-8" style="background-color:gray; color:white; border: 1px solid black; padding:4px;">Response Pending</div>

                    }
                    else if (e.RSVPStatus == ElGroupo.Domain.Enums.RSVPTypes.Maybe)
                    {
                        <div class="col span-1-of-8" style="background-color:yellow; color:white; border: 1px solid black; padding:4px;">I might go</div>

                    }
                    else if (e.RSVPStatus == ElGroupo.Domain.Enums.RSVPTypes.No)
                    {
                        <div class="col span-1-of-8" style="background-color:red; color:white; border: 1px solid black; padding:4px;">Fuck this, I'm not going</div>

                    }
                    else if (e.RSVPStatus == ElGroupo.Domain.Enums.RSVPTypes.Yes)
                    {
                        <div class="col span-1-of-8" style="background-color:green; color:white; border: 1px solid black; padding:4px;">Hell yeah I'm in!</div>

                    }

                }
                <div class="col span-1-of-8">
                    @if (e.IsRecurring)
                    {
                        <div style="background-color:purple; color:white; border: 1px solid black; padding:4px;"><span class="width-100">Recurring</span></div>

                    }
                    
                </div>
                <div class="col span-6-of-8">
                    <a asp-controller="Events" asp-action="View" asp-route-eid="@e.Id" class="no-decoration">
                        <span id="spanEventName" style="font-weight:bold; ">
                            @*@if (e.OrganizedByUser)
                            {
                                @:*&nbsp;
                        }*@
                            @e.Name
                        </span>
                        @if (!e.OrganizedByUser)
                {
                            <span>Organized by: @e.OrganizerName</span>

                        }

                        <span>@e.StartDate.ToString("d") @@ @e.StartDate.TimeOfDay.ToString() - @e.EndDate.TimeOfDay.ToString()</span>
                    </a>
                </div>
            </div>

            @*<div class="col span-1-of-8">
                @if (e.OrganizedByUser)
                {
                    <a href="#" class="btn btn-primary width-100 event-delete">Delete</a>

                }
            </div>
            <div class="col span-1-of-8">
                <a asp-controller="Events" asp-action="View" asp-route-eid="@e.Id" class="btn btn-primary width-100">View</a>
            </div>*@
        </li>
    }
</ul>