@using ElGroupo.Web.Models.Events
@model IEnumerable<EventInformationModel>

<ul>
    @foreach (var e in Model)
    {
        <li data-event-id="@e.Id" class="@(e.IsNew ? "new-event": "")">
            <div class="col span-4-of-7">


                    

                <span id="spanEventName" style="font-weight:bold; ">
                    @if (e.OrganizedByUser)
                    {
                        @:*&nbsp;
                        }
                    @e.Name
                </span>


                <span>@e.StartDate.ToString("d") @@ @e.StartDate.TimeOfDay.ToString() - @e.EndDate.TimeOfDay.ToString()</span>


            </div>
            <div class="col span-1-of-7">
                @if (e.OrganizedByUser)
                {
                    <button class="btn btn-primary width-100 event-delete">Delete</button>

                }

            </div>
            <div class="col span-1-of-7">
                @if (e.OrganizedByUser)
                {
                    <a asp-controller="Events" asp-action="Edit" asp-route-eid="@e.Id" class="btn btn-primary width-100">Edit</a>

                }

            </div>
            <div class="col span-1-of-7">
                <a asp-controller="Events" asp-action="View" asp-route-eid="@e.Id" class="btn btn-primary width-100">View</a>
            </div>


        </li>
    }
</ul>