@using ElGroupo.Web.Models.Events
@model List<EventInformationModel>
@functions{
    private string GetCheckInUrl(long eid)
    {

        var url = Url.Action("CheckIn", "Events", new { eid = eid });
        return url;

    }
    private string GetEventViewUrl(long eid)
    {

        var url = Url.Action("ViewNewAgain", "Events", new { eid = eid });
        return url;

    }

    private string GetEventRowClass(bool isNew)
    {
        return isNew ? "unviewed-event dashboard-event-item" : "viewed-event dashboard-event-item";

    }

    private string GetDateRowText(EventInformationModel model)
    {
        string str = null;
        if (model.IsRecurring) str = model.DateText + " | recurring";
        else str = model.DateText;
        if (model.RSVPRequested) str += "*";
        return str;

    }
}

<ul style="list-style:none;">
    @for (int x = 0; x < Model.Count; x++)
    {

        <li>
            <div class="row @GetEventRowClass(Model[x].IsNew)" data-event-link="@GetEventViewUrl(Model[x].Id)" data-event-attendee-id="@Model[x].EventAttendeeId" data-event-id="@Model[x].Id" style="margin:5px 5px 5px 0px; display:flex; width:100%; cursor:pointer;">
                @Html.Partial("_DashboardEventListItem", Model[x])
            </div>
            @foreach (var rec in Model[x].Recurrences)
            {
                <div class="row @GetEventRowClass(Model[x].IsNew)" data-recurrence-item-id="@Model[x].RecurrenceId.Value" data-event-attendee-id="@rec.EventAttendeeId" data-event-link="@GetEventViewUrl(Model[x].Id)" data-event-id="@rec.Id" style="margin:5px 5px 5px 100px; display:none; width:100%; cursor:pointer;">
                    @Html.Partial("_DashboardEventListItem", rec)
                </div>

            }
            @if (x < Model.Count - 1)
            {
                <div class="row" style="margin-top:10px;">
                    <div class="width-100" style="width:88%; height:1px; background-color:#eee"></div>
                </div>

            }


        </li>
    }
</ul>

<div class="row centered" style="margin-top:20px; margin-bottom:40px;">
    <button style="display:none;" id="btnDeleteEvent" class="btn-primary">Delete Selected Events</button>
</div>