@using ElGroupo.Web.Models.Account
@model IEnumerable<UserConnectionModel>
@{
    Layout = null;
}

@functions{
    public List<List<T>> SplitList<T>(IEnumerable<T> values, int groupSize, int? maxCount = null)
    {
        List<List<T>> result = new List<List<T>>();
        // Quick and special scenario
        if (values.Count() <= groupSize)
        {
            result.Add(values.ToList());
        }
        else
        {
            List<T> valueList = values.ToList();
            int startIndex = 0;
            int count = valueList.Count;
            int elementCount = 0;

            while (startIndex < count && (!maxCount.HasValue || (maxCount.HasValue && startIndex < maxCount)))
            {
                elementCount = (startIndex + groupSize > count) ? count - startIndex : groupSize;
                result.Add(valueList.GetRange(startIndex, elementCount));
                startIndex += elementCount;
            }
        }


        return result;

    }
    public string GetImageUrl(long id)
    {
        var url = Url.Action("UserPhoto", "Users", new { id = id });
        return url;
    }

    public string GetUserViewLink(long id)
    {
        var url = Url.Action("View", "Account", new { id = id });
        return url;

    }

}


@if (Model.Count() > 0)
{

    @foreach (var rowGroup in SplitList<UserConnectionModel>(Model, 4))
    {
        //style = "display:flex; align-items:center;"
        <div class="row connections-details" >
            @foreach (var connection in rowGroup)
            {

                @if (connection.Registered)
                        {
                    <div data-user-id="@connection.UserId" class="col span-1-of-4 rounded-border" style="text-align:center; position:relative; cursor:pointer;">
                        <div class="connection-info" style="z-index:2">
                            <img class="image-circle-200" style="background-image:url('@GetImageUrl(connection.UserId)')" />
                            <span class="connected-user-name" style="font-weight:bold; text-transform:uppercase;">@connection.Name</span>

                        </div>
                        <div class="connection-links centered" style="z-index:3; display:none; position:absolute; top: 40%; left:5%; width:90%;">
                            <a data-action="profile" data-profile-link="@GetUserViewLink(connection.UserId)">View Profile</a>
                            <a data-action="remove" style="display:inline-block;">Remove Connection</a>
                        </div>
                    </div>


                }
                else
                {
                    <div data-connection-email="@connection.Email" class="col span-1-of-4 rounded-border" style="text-align:center; position:relative;">
                        <div style="font-weight:bold; display:inline-block; text-transform:uppercase;">@connection.Email</div>
                        <div style="font-weight:bold; display:inline-block; text-transform:uppercase;">@connection.Name</div>
                        <a>Delete?</a>
                    </div>
                }

            }
        </div>
    }

}
else
{
    <h2 class="connections-details">You do not have any connections</h2>
}
