@using ElGroupo.Web.Models.Account
@model IEnumerable<UserInformationModel>

@{
    Layout = null;
}
@functions{
    public string GetImageUrl(int id)
    {
        var url = Url.Action("UserPhoto", "Users", new { id = id });
        return url;
    }

}
<style type="text/css">
    li:hover {
        background-color: lightblue;
    }

    li div {
    }

    li > div {
        float: left;
        display: table-cell;
        width: 100%;
        vertical-align: middle;
    }

        li > div > span, li > div > img {
            /*vertical-align: middle;*/
            /*display: table-cell;*/
        }

        li > div::after {
            display: block;
            height: 2px;
            background-color: #e67e22;
            content: "";
            width: 85%;
            margin: 0 auto;
            margin-top: 5px;
        }
</style>
@if (Model != null)
{



    <div class="row width-100">
        <ul>

            @foreach (var u in Model)
            {
                <li style="list-style:none;">
                    <div>
                        <span class="col span-2-of-8">@u.Name</span>
                        <span class="col span-2-of-8">@u.UserName</span>
                        <span class="col span-2-of-8">@u.Email</span>
                        <span class="col span-1-of-8"><img class="width-100" src="@GetImageUrl(u.Id)" /></span>
                        <a class="col span-1-of-8 btn btn-primary" asp-route="editadmin" asp-route-id="@u.Id">Edit</a>
                    </div>

                </li>

            }
        </ul>
    </div>
}