@using ElGroupo.Web.Models.Account
@model EditAccountModel



<section id="sectionEditAccount" class="section-form">
    <div class="row">
        <h2>Edit your account!</h2>
    </div>
    @if (Model.IsAdminEditing)
    {
        <h2>Admin Tools</h2>
        <div class="row" style="text-align:center;">
            <a asp-controller="Account" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-primary">Delete this account?</a>
        </div>

    }
    <div class="page-nav row">
        <div class="col span-1-of-4"><a href="#" class="links bold" data-link-type="details">My Details</</a></div>
        <div class="col span-1-of-4" ><a  href="#" class="links" data-link-type="contact-methods">My Contact Methods</a></div>
        <div class="col span-1-of-4" ><a  href="#" class="links" data-link-type="connections">My Connections</a></div>
        <div class="col span-1-of-4"><a href="#" class="links" data-link-type="attendee-groups">My Groups</a></div>

    </div>
    <div class="row tab details">
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-controller="Account" asp-action="Edit" enctype="multipart/form-data" method="post" id="frmEditAccount" class="contact-form">
            <input asp-for="Id" type="hidden" />
            <div class="row line-after">
                <div id="divImg" class="image-circle-250" style="background-image: url('/Users/UserPhoto/@Model.Id')">
                </div>
                <div id="divChangePhoto" style="text-align:center; font-weight:bold; cursor:pointer;">EDIT</div>
            </div>
            <div class="row line-after">
                <div class="col span-1-of-3">
                    <label asp-for="Name">Name:</label>
                </div>
                <div class="col span-2-of-3">
                    <input class="input-transparent" type="text" asp-for="Name" placeholder="Enter Name...">
                </div>
            </div>
            <div class="row line-after">
                <div class="col span-1-of-3">
                    <label asp-for="EmailAddress">Email:</label>
                </div>
                <div class="col span-2-of-3">
                    <input class="input-transparent" type="text" asp-for="EmailAddress" placeholder="Enter Email...">
                </div>
            </div>
            <div class="row line-after">
                <div class="col span-1-of-3">
                    <label asp-for="PhoneNumber">Phone Number:</label>
                </div>
                <div class="col span-2-of-3">
                    <input class="input-transparent" type="text" asp-for="PhoneNumber" placeholder="Enter Phone Number...">
                </div>
            </div>
            <div class="row line-after">
                <div class="col span-1-of-3">
                    <label asp-for="ZipCode">ZIP Code:</label>
                </div>
                <div class="col span-2-of-3">
                    <input class="input-transparent" type="text" asp-for="ZipCode" placeholder="Enter Zip Code...">
                </div>
            </div>
            <div class="row">
                <label asp-for="TimeZoneId">Time Zone:</label>
                <select asp-for="TimeZoneId">
                    @foreach(var tz in Model.TimeZones)
                    {
                        <option value="@tz.Key">@tz.Value</option>

                    }
                </select>
            </div>

            <div class="row">
                <div class="col span-2-of-3">
                    <input asp-for="UpdatedPhoto" style="visibility:hidden;" type="file" id="inputNewPhoto" placeholder="Select a photo...">
                </div>
                <div style="display:none;" id="divNewPhoto" class="col span-3-of-3">
                    <img id="imgNewPhoto" src="" alt="Select a Photo" height="300" width="300" />
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-4">
                    <label>&nbsp;</label>
                </div>
                <div class="col span-2-of-4">
                    <input type="submit" value="Save Account Changes!">
                </div>
                <div class="col span-1-of-4">
                    <label>&nbsp;</label>
                </div>
            </div>
        </form>
    </div>
    <div style="display:none;" class="row tab contact-methods">
        <h2>My Contact Information</h2>
        <div class="row">
            <div class="col span-2-of-10">Select Contact Type:</div>

            <select class="col span-3-of-10" id="selContactType">
                <option selected></option>
                @foreach (var ct in Model.ContactTypes)
            {
                    <option value="@ct.Key">@ct.Value</option>

                }
            </select>
            <input class="col span-4-of-10" type="text" id="txtContactValue" />
            <a class="btn btn-primary span-1-of-10" id="btnAddNewContact">Add New Contact</a>
        </div>
        <div class="row" id="divContactList">
            @Html.Partial("_ContactMethods", Model.Contacts)
        </div>
    </div>
    <div style="display:none;" id="divConnections" class="row tab connections">
        @Html.Partial("_Connections", Model.Connections)


    </div>
    <div style="display:none;" id="divAttendeeGroups" class="row tab attendee-groups">
        <div id="divViewAttendeeGroups">
            @Html.Partial("_AttendeeGroupList", Model.AttendeeGroups)
        </div>
        <div id="divEditAttendeeGroup" style="display:none;">

        </div>

    </div>
</section>


@section Scripts{




    <script type="text/javascript" src="~/content/scripts/account/edit-account.js"></script>
<script type="text/javascript" src="~/content/scripts/account/google-contacts.js"></script>
    <script type="text/javascript" src="~/content/scripts/account/attendee-groups.js"></script>
<script async defer src="https://apis.google.com/js/api.js" onload="GoogleContacts.HandleClientLoad('@Model.apiKey','@Model.clientId');" onreadystatechange="if (this.readyState === 'complete') this.onload()"></script>
@if (Model.ShowSaveConfirmation)
{

    <script type="text/javascript">
        $(document).ready(function () {
            Loading.Stop();
            MessageDialog("Your account has been updated!");

        });
    </script>

}
}
